
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style>
        .caps::first-letter {
            text-transform: capitalize;
        }
    </style>
    <script>
        function exportTableToExcel(tableID1, tableID2, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect1 = document.getElementById(tableID1);
            var tableSelect2 = document.getElementById(tableID2);
            var tableHTML1 = tableSelect1 == null ? "" : tableSelect1.outerHTML.replace(/ /g, '%20');
            var tableHTML2 = tableSelect2 == null ? "" : tableSelect2.outerHTML.replace(/ /g, '%20');
            var tableHTML = tableHTML1 + "<br/>" + tableHTML2;
            // Specify file name
            filename = filename ? filename + '.xls' : 'excel_data.xls';

            // Create download link element
            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                // Setting the file name
                downloadLink.download = filename;

                //triggering the function
                downloadLink.click();
            }
        }

/**/</script>
</head>
@{
    int sum1 = 0;
    int sum2 = 0;
}
@if (ViewBag.UsingResult.Count < 1 && ViewBag.UsedResult.Count < 1)
{
    <h5 class="text-center" style="margin-top: 150px;">Không có dữ liệu</h5>
}
else
{
    <div id="Main">
        @if (ViewBag.UsingResult.Count >= 1)
        {
            <table align="center">
                <tr valign="top">
                    <td style="width: 35%;">
                        <div id="table_div1" style="margin-top: 150px;">
                            <h4 class="caps" id="stat1" style="margin-left:50px;">@ViewBag.TypeName đang mượn</h4><br />
                            <table id="table1" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                                <thead>
                                    <tr>
                                        <th>Năm</th>
                                        <th>Số @ViewBag.TypeName đang mượn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UsingResult)
                                    {
                                        <tr>
                                            <td>@item.Year</td>
                                            <td>@item.TotalLoan</td>
                                        </tr>
                                        sum1 += item.TotalLoan;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 65%;">
                        <div id="columnchart_values1" style="width: 900px; height: 700px;"></div>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <h5 style="margin-left:50px;">Không có dữ liệu cuả @ViewBag.TypeName đang mượn</h5>
        }
        @if (ViewBag.UsedResult.Count >= 1)
        {
            <table align="center">
                <tr valign="top">
                    <td style="width: 35%;">
                        <div id="table_div2" style="margin-top: 150px;">
                            <h4 id="stat2" class="caps" style="margin-left:50px;">@ViewBag.TypeName từng mượn</h4><br />
                            <table id="table2" class="WordSection1 table-striped table-bordered" style="margin-left:50px; border: thin;" border="1">
                                <thead>
                                    <tr>
                                        <th>Năm</th>
                                        <th>Số @ViewBag.TypeName đã mượn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.UsedResult)
                                    {
                                        <tr>
                                            <td>@item.Year</td>
                                            <td>@item.TotalLoan</td>
                                        </tr>
                                        sum2 += item.TotalLoan;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td style="width: 65%;">
                        <div id="columnchart_values2" style="width: 900px; height: 700px;"></div>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <h5 style="margin-left:50px;">Không có dữ liệu cuả @ViewBag.TypeName từng mượn</h5>
        }
    </div>
    <div style="margin-top:20px;" class="btn-group d-xl-flex justify-content-xl-center" role="group">
        <button id="ExportReporttoExcel" type="button" style="margin-right:20px;" onclick="exportTableToExcel('table1','table2', 'ThongKeHangNam')">Lưu vào file excel</button>
    </div>
}
<script type="text/javascript">

    google.charts.load("current", { packages: ['corechart'] });
    @if (ViewBag.UsingResult.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart1);
    document.getElementById("stat1").innerHTML += ": " + @sum1;
    
        </text>
    }
    @if (ViewBag.UsedResult.Count >= 1)
    {
        <text>
    google.charts.setOnLoadCallback(drawChart2);
    document.getElementById("stat2").innerHTML += ": " + @sum2;
        </text>
    }
    
    

    function drawChart1() {
        var table = document.getElementById("table1");
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [["Năm", "Số lượt mượn", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Năm',
            },
            vAxis: {
                title: 'Số lượt mượn',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values1"));
        chart.draw(view, options);
    }

    function drawChart2() {
        var table = document.getElementById("table2");
        if (table.rows.length <= 1)
            return;
        var len = table.rows.length;
        var arr = [["Năm", "Số lượt mượn", { role: "style" }]];
        for (var i = 1; i < len; i++) {
            arr.push([table.rows[i].cells[0].innerHTML, parseInt(table.rows[i].cells[1].innerHTML), "aquamarine1"]);
        }
        var data = google.visualization.arrayToDataTable(arr);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            title: "",
            bar: { groupWidth: "50%" },
            legend: { position: "none" },
            hAxis: {
                title: 'Năm',
            },
            vAxis: {
                title: 'Số lượt mượn',
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values2"));
        chart.draw(view, options);
        }    
</script>