@model Libol.Models.CIR_PATRON
@using Libol.Models;

@{
    ViewBag.Title = "Bạn đọc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    label {
        text-align: right;
    }

    button {
        margin-right: 15px;
    }

    .avatar {
        position: absolute;
        top: 130px;
        right: 100px;
        width: 100px;
        height: 185px;
    }

        .avatar img, .avatar a {
            position: inherit;
            width: 100%;
        }

        .avatar a {
            left: -35px;
            top: 60px;
        }
</style>

<h3 style="margin-top: 20px;margin-bottom: 20px;">Cập Nhật Thông Tin Bạn Đọc</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row ">
            <label class="control-label col-md-1 align-self-center">Họ và tên</label>
            <input type="text" class="form-control col-md-2" id="strFirstName">
            <input type="text" class="form-control col-md-2" id="strLastName">

            <div class="col-md-1">
                <div class="form-check-inline">
                    <input type="radio" class="form-check-input" id="blnSex" name="sex" checked>
                    <label class="form-check-label" for="formCheck-1">Nam</label>
                    <input type="radio" class="form-check-input" id="radio2" name="sex">
                    <label class="form-check-label" for="formCheck-1">Nữ</label>
                </div>
            </div>

            <div class="avatar">
                <input id="photoPatron" name="uploadFile" type="file" style="width: 100px;float: left;margin-left: -200px;" accept="image/x-png,image/gif,image/jpeg" onchange="onFileSelected(event)">
                <img src="~/Content/ImagePatron/NoImage.png" style="margin-left: -100px;width: 100px;height: 150px;" id="avatarImage" />
            </div>

        </div>

        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Ngày sinh</label>

            <input type="date" class="form-control col-md-2" id="strDOB">

            <label class="control-label col-md-2 align-self-center">Dân tộc</label>
            <select class="form-control col-md-3" id="intEthnicID">
                <option value="-1">----- Chọn -----</option>
                @foreach (var item in ViewBag.Ethnic)
                {
                    <option value="@item.ID">@item.Ethnic</option>
                }
            </select>
            <a class="col-md-1" href="#">Thêm</a>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Số thẻ</label>
            <input type="text" class="form-control col-md-2" id="strCode">
            <label class="control-label col-md-2 align-self-center">Nhóm bạn đọc</label>
            <select class="form-control col-md-3" id="intPatronGroupID">
                <option value="-1">----- Chọn -----</option>
                @foreach (var item in ViewBag.PatronGroup)
                {
                    <option value="@item.ID">@item.Name</option>
                }
            </select>
            <a class="col-md-1" href="#">Xem</a>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Ngày cấp</label>
            <input type="date" class="form-control col-md-2" id="strLastIssuedDate">
            <label class="control-label col-md-2 align-self-center">Ngày hiệu lực</label>
            <input type="date" class="form-control col-md-2" id="strValidDate">
            <label class="control-label col-md-2 align-self-center">Ngày hết hạn</label>
            <input type="date" class="form-control col-md-2" id="strExpiredDate">

        </div>

        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Trình độ</label>
            <select class="form-control col-md-2" id="intEducationID">
                <option value="-1">----- Chọn -----</option>
                @foreach (var item in ViewBag.Education)
                {
                    <option value="@item.ID">@item.EducationLevel</option>
                }
            </select>

            <label class="control-label col-md-2 align-self-center">Nghề nghiệp</label>
            <select class="form-control col-md-3" id="intOccupationID">
                <option value="-1">----- Chọn -----</option>
                @foreach (var item in ViewBag.Occupation)
                {
                    <option value="@item.ID">@item.Occupation</option>
                }
            </select>
            <a href="#" class="col-md-1">Thêm</a>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Nơi làm việc</label>
            <input type="text" class="form-control col-md-2" id="strWorkPlace">
        </div>
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Trường</label>
            <select class="form-control col-md-3" onchange="OnchangeCollege()" id="college">
                <option value="-1">----- Chọn -----</option>
                @foreach (var item in ViewBag.College)
                {
                    <option value="@item.ID">@item.College</option>
                }
            </select>
            <a href="#" class="col-md-1">Thêm</a>
            <label class="control-label align-self-center" style="margin-right: 10px">Khoa</label>
            <select class="form-control col-md-3" id="faculty">
                <option value="-1">----- Chọn -----</option>
                
            </select>
            <a href="#" class="col-md-1">Thêm</a>
            <label class="control-label col-md-1 align-self-center">Khóa</label>
            <input type="text" class="form-control col-md-1" id="strGrade">
            <label class="control-label col-md-1 align-self-center">Lớp</label>
            <input type="text" class="form-control col-md-1" id="strClass">
        </div>

        <h4>Địa Chỉ</h4>
        <hr />
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Địa chỉ</label>
            <input type="text" class="form-control col-md-6" id="strAddress">
            <label class="control-label col-md-1 align-self-center">Thành phố</label>
            <input type="text" class="form-control col-md-2" id="strCity">
        </div>
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Tỉnh</label>
            <select class="form-control col-md-2" id="intProvinceID">
                @foreach (var item in ViewBag.Province)
                {
                    <option value="@item.ID">@item.Province</option>
                }
            </select>
            <a href="#" class="col-md-1">Thêm</a>
            <label class="control-label col-md-1 align-self-center">Nước</label>
            <select class="form-control col-md-2" id="intCountryID">
                @foreach (var item in ViewBag.Countries)
                {
                    <option value="@item.ID">@item.Country</option>
                }
            </select>
            <label class="control-label col-md-1 align-self-center">Mã vùng</label>
            <input type="text" class="form-control col-md-1" id="strZip">
            <div class="col-md-2"><input type="checkbox" id="intisActive"/> Địa chỉ chính</div>
        </div>

        <h4>Thông tin khác</h4>
        <hr />
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Điện thoại</label>
            <input type="text" class="form-control col-md-2" id="strTelephone">
            <label class="control-label col-md-3 align-self-center">Mobile</label>
            <input type="text" class="form-control col-md-2" id="strMobile">
        </div>
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Email</label>
            <input type="email" class="form-control col-md-2" id="strEmail">
            <label class="control-label col-md-3 align-self-center">Chứng minh thư</label>
            <input type="text" class="form-control col-md-2" id="strIDCard">
        </div>
        <div class="form-group row">
            <label class="control-label col-md-1 align-self-center">Ghi chú</label>
            <textarea class="form-control col-md-5" rows="5" id="strNote"></textarea>
        </div>
        <div class="form-group row">
            <div class="col-md-1"></div>
            <button type="button" class="btn btn-primary col-md-1" onclick="NewPatron()">Cập nhật</button>
            <button type="button" class="btn btn-primary col-md-1" onclick="Reset()">Đặt lại</button>
            <button type="button" class="btn btn-primary col-md-1" onclick="SearchPatron()">Tìm kiếm</button>
        </div>

    </div>
}

    <div class="modal" tabindex="-1" role="dialog" id="modalNotify">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông tin bạn đọc</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="notifyMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
<script>
    function OnchangeCollege() {
        var e = document.getElementById("college");
        var id = e.options[e.selectedIndex].value;
        var empObj = {
            CollegeID: id
        };
        $.ajax({
            url: "/Patron/OnchangeCollege",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = "<option value=' - 1'>----- Chọn -----</option>"
                for (r in result) {
                    html = html + "<option value=" + result[r].ID+">" + result[r].Faculty + "</option>"
                }
                document.getElementById("faculty").innerHTML = html;
                
            },
            error: function (errormessage) {

            }
        });
    }

    function onFileSelected(event) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("avatarImage");
        imgtag.title = selectedFile.name;

        reader.onload = function (event) {
            imgtag.src = event.target.result;
        };

        reader.readAsDataURL(selectedFile);
    }

    function NewPatron() {

        var intEthnicIDElement = document.getElementById("intEthnicID");
        var EthnicID = intEthnicIDElement.options[intEthnicIDElement.selectedIndex].value == -1 ? null: intEthnicIDElement.options[intEthnicIDElement.selectedIndex].value;

        var intEducationIDElement = document.getElementById("intEducationID");
        var EducationID = intEducationIDElement.options[intEducationIDElement.selectedIndex].value == -1 ? null : intEducationIDElement.options[intEducationIDElement.selectedIndex].value;

        var intOccupationIDElement = document.getElementById("intOccupationID");
        var OccupationID = intOccupationIDElement.options[intOccupationIDElement.selectedIndex].value == -1 ? null : intOccupationIDElement.options[intOccupationIDElement.selectedIndex].value;

        var intPatronGroupIDElement = document.getElementById("intPatronGroupID");
        var PatronGroupID = intPatronGroupIDElement.options[intPatronGroupIDElement.selectedIndex].value == -1 ? null : intPatronGroupIDElement.options[intPatronGroupIDElement.selectedIndex].value;

        var intProvinceIDElement = document.getElementById("intProvinceID");
        var ProvinceID = intProvinceIDElement.options[intProvinceIDElement.selectedIndex].value;

        var intCountryIDElement = document.getElementById("intCountryID");
        var CountryID = intCountryIDElement.options[intCountryIDElement.selectedIndex].value;

        var intCollegeIDElement = document.getElementById("college");
        var CollegeID = intCollegeIDElement.options[intCollegeIDElement.selectedIndex].value == -1 ;

        var intFacultyIDElement = document.getElementById("faculty");
        var FacultyID = intFacultyIDElement.options[intFacultyIDElement.selectedIndex].value == -1 ;

        var empObj = {
            strCode: document.getElementById("strCode").value ,
            strValidDate: document.getElementById("strValidDate").value ,
            strExpiredDate: document.getElementById("strExpiredDate").value ,
            strLastIssuedDate: document.getElementById("strLastIssuedDate").value ,
            strLastName: document.getElementById("strLastName").value ,
            strFirstName: document.getElementById("strFirstName").value,
            blnSex: document.getElementById("blnSex").checked ,
            strDOB: document.getElementById("strDOB").value,
            intEthnicID: EthnicID,
            intEducationID: EducationID,
            intOccupationID: OccupationID,
            strWorkPlace: document.getElementById("strWorkPlace").value,
            strTelephone: document.getElementById("strTelephone").value,
            strMobile: document.getElementById("strMobile").value,
            strEmail: document.getElementById("strEmail").value,
            strPortrait: null,
            intPatronGroupID: PatronGroupID,
            strNote: document.getElementById("strNote").value,
            intIsQue: 0,
            strIDCard: document.getElementById("strIDCard").value,
            strAddress: document.getElementById("strAddress").value,
            intProvinceID: ProvinceID,
            strCity: document.getElementById("strCity").value,
            intCountryID: CountryID,
            strZip: document.getElementById("strZip").value,
            intisActive: document.getElementById("intisActive").checked,
            intCollegeID: CollegeID,
            intFacultyID: FacultyID,
            strGrade: document.getElementById("strGrade").value,
            strClass: document.getElementById("strClass").value
        };
        $.ajax({
            url: "/Patron/NewPatron",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.IsError) {
                    $("#modalNotify").modal();
                    document.getElementById("notifyMessage").innerText = result.Data;
                }
                else {
                    UploadPhotoPatron(result.Data);
                }
            },
            error: function (errormessage) {

            }
        });
    }

    function UploadPhotoPatron(strCode) {
        var formData = new FormData();
        var totalFiles = document.getElementById("photoPatron").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("photoPatron").files[i];
            formData.append("photoPatron", file);
            formData.append("strCode", strCode);
        }
        $.ajax({
            type: "POST",
            url: '/Patron/UploadPhotoPatron',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
            },
            error: function (error) {
            }
        });
    }

    function Reset() {
        document.getElementById("strCode").value = "",
        document.getElementById("strValidDate").value = "",
        document.getElementById("strExpiredDate").value ="" ,
        document.getElementById("strLastIssuedDate").value = "",
        document.getElementById("strLastName").value = "",
        document.getElementById("strFirstName").value = "",
        document.getElementById("blnSex").checked = true,
        document.getElementById("strDOB").value = "",
        document.getElementById("strWorkPlace").value = "",
        document.getElementById("strTelephone").value = "",
        document.getElementById("strMobile").value ="",
        document.getElementById("strEmail").value = "",
        document.getElementById("strNote").value = "",
        document.getElementById("strIDCard").value = "",
        document.getElementById("strAddress").value = "",
        document.getElementById("strCity").value = "",
        document.getElementById("strZip").value = "",
        document.getElementById("intisActive").checked = false,
        document.getElementById("strGrade").value = "",
        document.getElementById("strClass").value = "",
        document.getElementById("intEthnicID").value = -1,
        document.getElementById("intEducationID").value = -1,
        document.getElementById("intOccupationID").value = -1,
        document.getElementById("intPatronGroupID").value = -1,
        document.getElementById("college").value = -1,
        document.getElementById("faculty").value = -1,
        document.getElementById("avatarImage").src = "/Content/ImagePatron/NoImage.png"
    }

    function SearchPatron() {

    }
</script>
