@using Libol.SupportClass;
@using Libol.Controllers;
@{
    ViewBag.Title = "Thêm bạn đọc theo lô";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="margin : 1rem">Thêm bạn đọc theo lô</h4>

@if (ViewBag.ListPatronInvalid.Count > 0)
{
    <p style="color: red;">Vui lòng kiểm tra các dòng sau trong file excel</p>
}

@foreach (PatronFile patronInvalid in ViewBag.ListPatronInvalid)
{
    <p>@patronInvalid.Line </p>
}

@{Session["listPatronInFile"] = @ViewBag.ListPatron;}
@using (Html.BeginForm("InsertFileToDB", "Patron", FormMethod.Post))
{
    <button type="submit" class="btn btn-primary" style="margin-top: 1rem">Nhập vào hệ thống</button>
}

<div style="margin-top: 1rem">
    <table id="table_patron" class="table table-striped table-bordered datatables">
        <thead>
            <tr>
                <th>Mã sinh viên</th>
                <th>Họ và tên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Địa chỉ thường trú</th>
                <th>Chuyên ngành</th>
                <th>Điện thoại</th>
                <th>Khoá</th>
                <th>Trường</th>
                <th>Thành phố</th>
                <th>Lớp</th>
                <th>Nhóm</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ListPatron)
            {
                <tr>
                    <td>@item.strCode</td>
                    <td>@item.FullName</td>
                    <td>@item.blnSex</td>
                    <td>@item.strDOB.ToShortDateString()</td>
                    <td>@item.strEmail</td>
                    <td>@item.strAddress</td>
                    <td>@item.Faculty</td>
                    <td>@item.strMobile</td>
                    <td>@item.strGrade</td>
                    <td>@item.College</td>
                    <td>@item.strCity</td>
                    <td>@item.strClass</td>
                    <td>@item.PatronGroup</td>
                </tr>
            }
        </tbody>

    </table>
</div>