@model Libol.Models.CIR_PATRON

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CIR_PATRON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastIssuedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastIssuedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portrait)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portrait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestedSubjectBBK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestedSubjectBBK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterestedSubjectDDC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterestedSubjectDDC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIR_DIC_EDUCATION.EducationLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIR_DIC_EDUCATION.EducationLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIR_DIC_ETHNIC.Ethnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIR_DIC_ETHNIC.Ethnic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIR_DIC_OCCUPATION.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIR_DIC_OCCUPATION.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIR_PATRON_GROUP.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIR_PATRON_GROUP.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CIR_PATRON_UNIVERSITY.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CIR_PATRON_UNIVERSITY.Grade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
