<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FPT Libol</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <style>
        .navbar {
            padding: 0 !important;
        }

        a.nav-link {
            color: white !important;
            padding: 1rem !important;
        }

        .navbar-dark .navbar-brand {
            padding-left: 1rem;
        }

        .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
            background-color: #d8491f !important;
        }

        a.nav-link:hover {
            background-color: #d8491f;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color:#f05123 !important">
                <a class="navbar-brand" href="#">FPT Libol</a>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" onclick="dodajAktywne(this)">
                            <a class="nav-link"  href="#">Quản lý</a>
                        </li>
                        <li class="nav-item dropdown" onclick="dodajAktywne(this)">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bạn Đọc</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">

                                <a class="dropdown-item" href="/Patron/PatronProfile">Hồ sơ</a>

                                <a class="dropdown-item" href="#">Thẻ</a>
                                <a class="dropdown-item" href="#">Xử lý lô</a>
                                <a class="dropdown-item" href="#">Thống kê</a>
                                <a class="dropdown-item" href="#">Thống kê</a>
                            </div>
                        </li>
                        <li class="nav-item" onclick="dodajAktywne(this)">
                            <a class="nav-link"  href="#">Biên mục</a>
                        </li>
                        <li class="nav-item" onclick="dodajAktywne(this)">
                            <a class="nav-link"  href="#">Mượn trả</a>
                        </li>
                        <li class="nav-item" onclick="dodajAktywne(this)">
                            <a class="nav-link"  href="#">Bổ sung</a>
                        </li>
                        <li class="nav-item" onclick="dodajAktywne(this)">
                            <a class="nav-link"  href="#">Thiết đặt</a>
                        </li>
                    </ul>
                    <a class="nav-link"  href="#">Đăng xuất</a>
                </div>
            </nav>


        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FPT Libol Group</p>
        </footer>
    </div>

    <script>
        function dodajAktywne(elem) {
            // get all 'a' elements
            var a = document.getElementsByTagName('li');
            // loop through all 'a' elements
            for (i = 0; i < a.length; i++) {
                // Remove the class 'active' if it exists
                a[i].classList.remove('active')
            }
            // add 'active' classs to the element that was clicked
            elem.classList.add('active');
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
